.Tag {
  --color: hsl(217, 99%, 16%);
  --background-color: hsl(217, 99%, 95%);

  display: inline;
  padding: 0.125rem 0.25rem;

  color: var(--color);
  background-color: var(--background-color);

  text-transform: lowercase;
  font-weight: normal;
  font-size: small;

  border-radius: 0.25rem;
}

.dark-mode .Tag {
  --color: hsl(217, 30%, 95%);
  --background-color: hsl(217, 30%, 30%);
}
