.Controls {
  position: sticky;
  top: 1rem;

  display: flex;
  justify-content: center;

  width: fit-content;
  height: 2.625rem;
  margin: 0 auto 1rem;
  padding: 0 1rem;

  background-color: white;
  border-radius: 0.2rem;

  transition: box-shadow 0.2s ease-out;
}
