.StyleButton {
  margin: 0 0.6rem;
  padding: 0;

  background: none;
  border: none;

  font-size: 1rem;

  cursor: pointer;
  transition: border-radius 0.1s ease-out, color 0.2s ease-out;
}

.StyleButton:active {
  color: hsl(217, 99%, 30%);
}

.StyleButton--active {
  color: hsl(217, 99%, 55%);
}
