.StyleButton {
  margin: 0 0.6rem;
  padding: 0;

  background: none;
  border: none;

  color: var(--color);
  font-size: 1rem;

  cursor: pointer;
  transition: border-radius 0.1s ease-out, color 0.2s ease-out, background-color 0.2s ease-out;
}

/* mouse down */
.StyleButton:active {
  color: hsl(217, 99%, 40%);
}

.dark-mode .StyleButton:active {
  color: hsl(217, 99%, 80%);
}

/* selected */
.StyleButton--active {
  color: hsl(217, 99%, 50%);
}

.dark-mode .StyleButton--active {
  color: hsl(217, 99%, 70%);
}
