.Editor--wrapper {
  padding: 0 1.5rem;
  height: 100%;
  font-size: 1rem;
  font-weight: normal;
}

.Editor {
  position: relative;
  display: block;
  min-height: 100%;
}

.Editor__code-block * {
  margin: 0;
  font-family: 'Roboto Mono', Menlo, Monaco, 'Courier New', Courier, monospace;
  font-size: 0.9rem;
}

.Editor__code {
  background-color: hsl(0, 0%, 95%);
  font-size: 1rem;
  font-family: 'Roboto Mono', Menlo, Monaco, 'Courier New', Courier, monospace;
}

.dark-mode .Editor__code {
  background-color: hsl(0, 0%, 40%);
}

.Editor__del,
.Editor__del * {
  color: hsl(210, 12%, 16%);
  background-color: hsl(353, 95%, 86%);

  text-decoration: none;
}

.Editor__ins,
.Editor__ins * {
  color: hsl(210, 12%, 16%);
  background-color: hsl(135, 73%, 81%);

  text-decoration: none;
}

.Editor__blockquote {
  padding: 0 1rem;

  color: hsl(212, 8%, 45%);
  border-left: 0.25em solid hsl(210, 10%, 89%);
}

.dark-mode .Editor__blockquote {
  color: hsl(212, 4%, 75%);
  border-left-color: hsl(210, 5%, 35%);
}

.Editor__blockquote,
.Editor__paragraph,
.Editor__code-block {
  margin: 0;
}

.Editor__placeholder {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0.25;
  user-select: none;
  pointer-events: none;
  cursor: text;
}
