.NotesList {
  display: flex;
  flex-direction: column;

  height: calc(100% - 4rem);
  padding: 2rem;
}

.NotesList__note {
  width: 18rem;
  padding: 1rem;
  margin-bottom: 1rem;

  border-radius: 3px;
  transition: background-color 0.15s ease-in-out;
}

.note__title {
  margin-bottom: 0.25rem;
}

.note__modified {
  margin-bottom: 0.2rem;
}

.note__content {
  margin: 0;

  color: hsl(0, 0%, 40%);
}

.note__title,
.note__modified,
.note__content {
  transition: color 0.15s ease-in-out;
}

/* Interaction styles */
.NotesList__note:hover,
.NotesList__note:focus {
  background-color: hsl(217, 99%, 98%);
}

/* Active styles */
.NotesList__note.NotesList__note--active {
  background-color: hsl(217, 99%, 95%);
}

.NotesList__note--active .note__title {
  color: hsl(217, 99%, 30%);
}

.NotesList__note--active .note__modified {
  color: hsl(217, 50%, 35%);
}

.NotesList__note--active .note__content {
  color: hsl(217, 40%, 42%);
}

.NotesList__note--active .Tag {
  color: hsl(217, 40%, 35%);
  background-color: hsl(217, 65%, 87.5%);
}

/* Responsive styles */
@media only screen and (min-width: 700px) {
  .NotesList--responsive {
    display: grid;
    grid-template-columns: 18rem 18rem;
    gap: 1rem 5%;
    justify-content: center;
    align-items: center;
  }

  .NotesList--responsive .NotesList__note {
    width: auto;
  }
}
