.NotesList {
  /* display: flex;
  flex-direction: column; */

  max-width: 100%;
  height: calc(100% - 4rem);
  padding: 2rem;
}

.NotesList__note {
  width: 18rem;
  max-width: calc(100% - 2rem);
  padding: 1rem;
  margin-bottom: 1rem;

  border-radius: 3px;
  transition: background-color 0.2s ease-out;
}

.note__title {
  margin-bottom: 0.25rem;
}

.note__modified {
  margin-bottom: 0.2rem;
}

.note__content {
  margin: 0;
  color: hsl(0, 0%, 40%);
}

.dark-mode .note__content {
  color: hsl(0, 0%, 70%);
}

/* Interaction styles */
.NotesList__note:not(.NotesList__note--active):hover,
.NotesList__note:not(.NotesList__note--active):focus {
  background-color: hsl(217, 99%, 98%);
}

.dark-mode .NotesList__note:not(.NotesList__note--active):hover,
.dark-mode .NotesList__note:not(.NotesList__note--active):focus {
  background-color: hsl(217, 40%, 22%);
}

/* Selected note styles */
.NotesList__note.NotesList__note--active {
  background-color: hsl(217, 99%, 95%);
}

.NotesList__note--active .note__title {
  color: hsl(217, 99%, 30%);
}

.NotesList__note--active .note__modified {
  color: hsl(217, 50%, 35%);
}

.NotesList__note--active .note__content {
  color: hsl(217, 40%, 42%);
}

.NotesList__note--active .Tag {
  color: hsl(217, 40%, 35%);
  background-color: hsl(217, 65%, 87.5%);
}

/* Dark selected note styles */
.dark-mode .NotesList__note.NotesList__note--active {
  background-color: hsl(217, 35%, 44%);
}

.dark-mode .NotesList__note--active .note__title,
.dark-mode .NotesList__note--active .note__modified {
  color: white;
}

.dark-mode .NotesList__note--active .note__content {
  color: hsl(0, 0%, 90%);
}

/* Responsive styles */
@media only screen and (min-width: 700px) {
  .NotesList--responsive {
    /*   2 items       gap  */
    /* (width * 2) + (2rem) */
    width: calc(18rem * 3 + 4rem);
    margin: 0 auto;

    /* OLD BELOW */
    /* display: grid;
    grid-template-columns: 18rem 18rem;
    gap: 1rem 5%;
    justify-content: center;
    align-items: center; */
  }

  /* .NotesList--responsive .NotesList__note {
    width: auto;
  } */
}

.NotesList--empty {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
}

.NotesList__placeholder {
  width: 30rem;
  max-width: 100%;
  max-height: 100%;
}

.NotesList__placeholder-svg {
  width: 100%;
  height: auto;
  margin-bottom: 1.25rem;
}

.NotesList__placeholder-text {
  color: hsl(221, 20%, 78%);

  font-size: 1.15rem;
  text-align: center;
  letter-spacing: 1.25px;
}
