.Home {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.Home__header-actions {
  display: flex;
  align-items: center;
}

.Home__dark-mode-toggle {
  margin-right: 1rem;
}

.Home__settings {
  display: flex;
  flex-direction: column;
}

.Home__settings-title {
  margin-bottom: 1.5rem;
}

.Home__settings > button {
  --border-color: hsl(0, 0%, 95%);
  --background-hover: hsl(217, 99%, 95%);
  --background-active: hsl(217, 99%, 90%);
  --color-hover: hsl(217, 99%, 30%);

  padding: 1.25rem 1.5rem;

  color: var(--color);
  background: transparent;

  font-size: 1rem;
  text-align: left;
  text-transform: capitalize;

  border: none;

  cursor: pointer;
  transition: background-color 0.15s ease-out;
}

.dark-mode .Home__settings > button {
  --border-color: hsl(0, 0%, 25%);
  --background-hover: hsl(217, 40%, 22%);
  --background-active: hsl(217, 35%, 44%);
  --color-hover: white;
}

.Home__settings > button:hover,
.Home__settings > button:focus {
  color: var(--color-hover);
  background-color: var(--background-hover);
}

.Home__settings > button:active {
  background-color: var(--background-active);
}
