.NoteTitle {
  width: 100%;
  padding: 0.25rem 0;

  color: var(--color);
  background-color: transparent;

  border: none;
}

.NoteTitle:focus {
  outline: none;
}

.NoteTitle__wrapper {
  display: flex;
  width: 100%;
}

.NoteTitle__label {
  margin-top: auto;
  line-height: 2rem;
}
