.CenterModal {
  position: absolute;
  top: 50%;
  left: 50%;

  --padding: 2rem;
  width: calc(100vw - var(--padding) - 1rem);
  max-width: 40rem;
  max-height: 20rem;
  padding: var(--padding);

  background-color: var(--background);
  border-radius: 0.2rem;

  transform: translate(-50%, -50%);
}
