.Note {
  --sidebar-width: calc(13rem + 8vw);

  display: flex;
  padding-left: var(--sidebar-width);
}

.Note__main {
  flex: 1;
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;

  color: var(--color);
  background-color: var(--background);
}

.Note__sidebar {
  --margin-top: calc(2.25rem + (0.75rem * 2) + 1px);

  position: fixed;
  top: 0;
  left: 0;

  height: calc(100vh - var(--margin-top));
  width: var(--sidebar-width);
  margin-top: var(--margin-top);

  background-color: var(--background-mid);

  overflow: visible;

  border-right: solid 1px rgba(0, 0, 0, 0.15);
}

.Note__sidebar > .NotesList {
  overflow-y: scroll;
  scrollbar-color: hsl(0, 0%, 90%) transparent;
  scrollbar-width: thin;
}

.dark-mode .Note__sidebar > .NotesList {
  scrollbar-color: hsl(0, 0%, 20%) transparent;
}

.Note__sidebar > .NotesList::-webkit-scrollbar {
  width: 6px;
}

.Note__sidebar > .NotesList::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 90%);
}

.dark-mode .Note__sidebar > .NotesList::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 20%);
}

.Note__sidebar > .NotesList::-webkit-scrollbar-track {
  box-shadow: none;
}

.Note__sidebar-header {
  position: fixed;
  top: 0;
  left: 0;

  width: calc(var(--sidebar-width) - 3rem);

  background-color: hsl(0, 0%, 98%);

  box-shadow: none !important;
  border-right: solid 1px rgba(0, 0, 0, 0.15);
  border-bottom: solid 1px lightgrey;
}

.dark-mode .Note__sidebar-header {
  background-color: hsl(0, 0%, 20%);
  border-bottom-color: black;
}

.Note__sidebar > .NotesList > * {
  max-width: calc(100% - 2rem);
}

@media (max-width: 800px) {
  .Note {
    padding-left: 0;
  }

  .Note__sidebar {
    display: none;
  }
}

.Note__header-actions {
  display: flex;
  align-items: center;
}

.Note__dark-mode-toggle {
  margin-right: 1rem;
}

.Note__saved-indicator {
  --size: 0.75rem;
  width: var(--size);
  height: var(--size);
  margin-right: 0.75rem;
}
.Note__saved-indicator > circle {
  fill: transparent;
  stroke: hsl(217, 99%, 70%);
  stroke-width: 12;

  transition: fill 0.2s ease-out;
}
.Note__saved-indicator--saved > circle {
  fill: hsl(217, 99%, 70%);
}
