.Note {
  display: flex;
}

.Note__main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Note__sidebar {
  --width: calc(13rem + 8vw);
  --margin-top: calc(2.25rem + (0.75rem * 2));

  height: calc(100vh - var(--margin-top));
  width: var(--width);
  margin-top: var(--margin-top);

  overflow-y: scroll;
  overflow-x: hidden;

  border-right: solid 1px rgba(0, 0, 0, 0.15);
}

.Note__sidebar-header {
  position: fixed;
  top: 0;
  left: 0;

  width: calc(var(--width) - 3rem);

  background-color: hsl(0, 0%, 98%);

  box-shadow: none !important;
  border-right: solid 1px rgba(0, 0, 0, 0.15);
  border-bottom: solid 1px lightgrey;
}

.Note__sidebar > .NotesList {
  background-color: #fefefe;
}

.Note__sidebar > .NotesList > * {
  max-width: calc(100% - 2rem);
}

@media (max-width: 800px) {
  .Note__sidebar {
    display: none;
  }
}
