.IconButton {
  --color: black;
  --hover-bg: hsl(0, 0%, 90%);
  --active-bg: hsl(0, 0%, 70%);

  display: flex;
  padding: 0.3rem;

  color: var(--color);
  background: none;

  border: none;
  border-radius: 50%;

  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
}

.IconButton:hover {
  background-color: var(--hover-bg);
}

.IconButton:active {
  background-color: var(--active-bg) !important;
}

.IconButton:focus {
  background-color: var(--hover-bg);
}

.dark-mode .IconButton {
  --color: white;
  --hover-bg: hsl(0, 0%, 50%);
}
