.IconButton {
  display: flex;
  padding: 0.3rem;

  background: none;

  border: none;
  border-radius: 50%;

  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.IconButton:hover {
  background-color: hsl(0, 0%, 90%);
}

.IconButton:active {
  background-color: hsl(0, 0%, 70%) !important;
}

.IconButton:focus {
  background-color: hsl(0, 0%, 90%);
}
